.DS_Store
**/*.pyc
.vscode*

credentials/*.json
data/*.json
token.pickle
venv
*.log
*.img


# hyper-modern python

.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
